<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Code Ticket</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-gray-900 text-gray-200 flex flex-col items-center justify-center h-screen">
      <img
        src="{{ url_for('static', filename='qr_codes/' + qr_path) }}"
        alt="QR Code"
        class="mt-4 rounded-lg shadow-lg"
        style="width: 200px; height: 200px"
      />

      <a
        href="/"
        class="mt-6 inline-block bg-blue-600 px-4 py-2 rounded-md text-white hover:bg-blue-700"
      >
        Go Back to Home
      </a>
    </div>
  </body>
</html>
